body{
    background-color: black;
}



div{
    height: 450px;
    width: 300px;
    background-color: darkslategray;
    border: 2px solid rgb(0, 19, 0);
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 5%;
}

img{
    width: 30%;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;

}

h3{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: white;
}

h4{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: rgb(125, 248, 133);

}

h5{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: aliceblue;
}

.b1{
    
    width: 200px;
   margin-left: 16.5%;
   margin-top: 20px;
   border-radius: 10px;
}


.c{
    color: blueviolet;
    margin-top: 2px;
    margin-bottom: 3px;
}


/* .b2{
    
    width: 200px;
   margin-left: 16.5%;
   margin-top: 20px;
   border-radius: 10px;
}

.d{
    color: blueviolet;
    margin-top: 2px;
    margin-bottom: 3px;
} */

.b3{
    
    width: 200px;
   margin-left: 16.5%;
   margin-top: 20px;
   border-radius: 10px;
}

.e{
    color: blueviolet;
    margin-top: 2px;
    margin-bottom: 3px;
}

.b4{
    
    width: 200px;
   margin-left: 16.5%;
   margin-top: 20px;
   border-radius: 10px;
}

.f{
    color: blueviolet;
    margin-top: 2px;
    margin-bottom: 3px;
}

.b5{
    
    width: 200px;
   margin-left: 16.5%;
   margin-top: 20px;
   border-radius: 10px;
}

.g{
    color: blueviolet;
    margin-top: 2px;
    margin-bottom: 3px;
}
